# OS & Editor
.DS_Store
Thumbs.db
*.swp
*.tmp
*.local
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Logs & Cache
*.log
*.cache
*.tinker
*.bak
/storage/
!/storage/app
!/storage/framework
!/storage/logs
/storage/*.key

# Env files
.env
.env.*
!.env.example

# Laravel vendor
/vendor

# Composer
auth.json
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# Node (root & PWA)
node_modules/
pwa/node_modules/

# Builds (root & PWA)
public/build
public/hot
public/storage
pwa/dist/

# PWA env
pwa/.env
pwa/.env.*
